{% extends "base1.html" %} {%block title %}
<link rel="stylelogin" href="../static/css/login_register.css" />
<title>Login</title>
{% endblock %} {%block content%}
<div>
  <div
    class="card-group position-absolute w-100 p-4 p-xl-5 h-75 mb-6"
    style="border-radius: 1rem"
  >
    <div
      class="card col-md-6 col-lg-5 d-none d-md-block row g-0 bg-dark img-fluid"
    >
      <img
        src="https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg"
        class="img-fluid"
        style="object-fit: cover; height: 100%"
      />
    </div>
    <div class="card bg-white">
      <div class="card-body p-4 p-lg-5 text-black">

          <form method="post" action="/login/">
            {% csrf_token %}
            {{ form.as_p }}

          <div class="d-flex align-items-center mb-3 pb-1">
            <i class="fas fa-cubes fa-2x me-3" style=""></i>
            <span  class="h1 fw-bold mb-0 form box">MovieReview</span>
          </div>

          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
            Sign into your account
          </h5>

          <div class="form-outline mb-4">
            <label class="form-label" for="id_username" style="margin-left: 0px"
              >Username</label
            >
            <input 
            type="text" 
            name="username" 
            autofocus autocapitalize="none" 
            autocomplete="username" 
            maxlength="30" 
            required id="id_username"
            class="form-control form-control-lg"
            placeholder="Enter username"
            />

            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px"></div>
              <div class="form-notch-middle" style="width: 88.8px"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="id_password" style="margin-left: 0px"
              >Password</label
            >
            <input 
            type="password" 
            name="password" 
            autocomplete="current-password" 
            maxlength="30"
            required 
            id="id_password" 
            class="form-control form-control-lg"
            placeholder="Enter password"
            />

            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px"></div>
              <div class="form-notch-middle" style="width: 64.8px"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>

          <div class="pt-1 mb-4">

              <button class="btn btn-dark btn-lg btn-block" type="submit">
                Login
              </button>
          </div>

          <a class="small text-muted" href="#!">Forgot password?</a>
          <p class="mb-5 pb-lg-2" style="color: #393f81">
            Don't have an account?
            <a href="/register" style="color: #393f81">Register here</a>
          </p>
          <a href="#!" class="small text-muted">About us</a>
        </form>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div
  style="
    background-image: url('https://hcdevilsadvocate.com/wp-content/uploads/2019/01/netflix-background-9-900x506.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <div
    class="bgimgmax"
    style="background-color: rgba(0, 0, 0, 0.6); height: 100lvh"
  ></div>
</div>
{%endblock%}
