{% extends "base1.html" %} {%block title %}
<link rel="stylesheet" href="static/login_register.css" />
<title>Register</title>
{% endblock %} {%block content%}
<style>
body {
  background-color: rgb(55, 45, 56);
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

</style>
<div>

<section class="h-100 h-custom bg-dark" style="background-color: #000000">
  <div
    class="bg-dark img-fluid position-relative h-100"
    style="
      background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
      background-size: cover;
      background-position: center;
      height: 100%;
    "
  >
    <!-- Overlay -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50"
      style="background-color: #00000083"
    ></div>
    <!-- ส่วนเนื้อหาภายใน div -->

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-2 bg-danger">
            <!-- <div class="card h-25">
               <img
                src="https://images.unsplash.com/photo-1574894078563-01e879b89809?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
                style="
                  border-top-left-radius: 0.3rem;
                  border-top-right-radius: 0.3rem;
                "
              /> 
            </div>  -->
            <div class="card-body p-4 p-md-5 bg-dark text-light">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center bg-dark text-light">
                  Registration Info
                </h3>
              <form class="px-md-2" method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="id_username">Username</label>
                  <input
                    type="text"
                    name="username"
                    maxlength="15"
                    required
                    id="id_username"
                    class="form-control"
                    placeholder="Username"/>
                    {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors|join:", " }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="id_password">Password</label>
                  <input
                    type="password"
                    name="password1"
                    maxlength="15"
                    required
                    id="id_password2"
                    class="form-control"
                    placeholder="Password"
                    tocomplete="new-password"au
                  />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="id_password">Password confirmation</label>
                  <input
                    type="password"
                    name="password2"
                    maxlength="15"
                    required
                    id="id_password1"
                    class="form-control"
                    placeholder="Password"
                    autocomplete="new-password"/>
                </div>
                <div class="row">
                <div class="form-outline mb-4">
                  <label class="form-label" for="id_firstname">Firstname</label>
                  <input
                    type="text"
                    name="first_name"
                    maxlength="30"
                    required
                    id="id_firstname "
                    class="form-control"
                    placeholder="Firstname"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="id_lastname">Lastname</label>
                  <input
                    type="text"
                    name="last_name"
                    maxlength="30"
                    required
                    id="id_lastname"
                    class="form-control"
                    placeholder="Lastname"/>
                </div></div>
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="form-outline datepicker">
                      <div class="form-group">
                        <label for="id_date_of_birth">Date of birth</label>
                        <input
                          required
                          id="id_date_of_birth"
                          name="date_of_birth"
                          class="form-control"
                          type="date"
                          placeholder="Date of birth"/>
                      </div>
                      <div class="form-outline mb-4 mt-3">
                        <label class="form-label" for="id_email">Email</label>
                        <input
                          type="email"
                          name="email"
                          maxlength="254"
                          required
                          id="id_email"
                          class="form-control"
                          placeholder="YourEmail@gmail.com"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative mt-4">
                  <div
                    class="position-absolute top-100 start-50 translate-middle"
                  >
                    <button type="submit" class="btn btn-success btn-lg mb-1" id="getUser">
                      Register
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    // JavaScript code to format date as "วัน เดือน ปี"
    document.getElementById("bdate").addEventListener("change", function () {
      var selectedDate = new Date(this.value);
      var day = selectedDate.getDate();
      var month = selectedDate.toLocaleDateString("th-TH", { month: "long" });
      var year = selectedDate.getFullYear() + 543; // แปลงปีเป็น พ.ศ.
      var formattedDate = day + " " + month + " " + year;
      this.value = formattedDate;
    });

  </script>
  {% endblock %}
</section>

<!--Django sugoi-->
