{% extends "base1.html" %} {%block title %}
<link rel="stylesheet" href="static/login_register.css" />
<title>Reset password</title>
{% endblock %} {%block content%}
<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .btn-outline-success {
    background-color: rgb(65, 67, 181);
    /* สีพื้นหลังเริ่มต้น */
    color: #fff;
    /* สีตัวอักษรเริ่มต้น */
    border-color: #2f9528;
    /* สีขอบเริ่มต้น */
  }

  /* CSS เปลี่ยนสีเมื่อชี้ */
  .btn-hover-color:hover {
    background-color: #44c727;
    /* เปลี่ยนสีที่คุณต้องการเมื่อชี้ */
    color: #ffffff;
    /* เปลี่ยนสีตัวอักษร (ถ้าจำเป็น) */
    border-color: transparent;
    /* ปิดขอบ */
  }
</style>
<div>

  <section class="h-100 h-custom ">

    <!-- Overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50" style="background-color: #00000083">
    </div>
    <!-- ส่วนเนื้อหาภายใน div -->

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-2 bg-success">
            <!-- <div class="card h-25">
               <img
                src="https://images.unsplash.com/photo-1574894078563-01e879b89809?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
                style="
                  border-top-left-radius: 0.3rem;
                  border-top-right-radius: 0.3rem;
                "
              /> 
            </div>  -->
            {% block resetpass %}
            <div class="card-body p-4 p-md-5 bg-dark text-light">
              <h2 class=" text-center bg-dark text-light">
                Reset password
              </h2>
              <h6 class=" mb-3 pb-2 pb-md-0 mb-md-5 px-md-2 text-center bg-dark text-secondary">Please enter username
                and email</h6>
              <form class="px-md-2" method="post" action="{% url 'resetpassword2' %}">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="id_username">Username</label>
                  <input type="text" name="username" maxlength="15" required id="id_username" class="form-control"
                    placeholder="Username" />
                </div>

                <div class="form-outline mb-4 mt-3">
                  <label class="form-label" for="id_email">Email</label>
                  <input type="email" name="email" maxlength="254" required id="id_email" class="form-control"
                    placeholder="YourEmail@gmail.com" />
                </div>
            </div>
            

          </div>
        </div>
        <div class="position-relative mt-4">
          <div class="position-absolute top-100 start-50 translate-middle">
            <button type="submit" class="btn btn-outline-success btn-lg mb-1  btn-hover-color" id="getUser">
              Reset password
            </button>
          </div>
        </div>
      </form>
      {%endblock%}
        {% if messages %}
        <div class="alert alert-danger mt-3">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
</section>

<!--Django sugoi-->