{% extends "base1.html" %} {%block title %}
<link rel="stylesheet" href="static/login_register.css" />
<title>Reset password</title>
{% endblock %} {%block content%}
<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .btn-outline-success {
    background-color: rgb(65, 67, 181);
    /* สีพื้นหลังเริ่มต้น */
    color: #fff;
    /* สีตัวอักษรเริ่มต้น */
    border-color: #000000;
    /* สีขอบเริ่มต้น */
  }

  /* CSS เปลี่ยนสีเมื่อชี้ */
  .btn-hover-color:hover {
    background-color: #c7274f;
    /* เปลี่ยนสีที่คุณต้องการเมื่อชี้ */
    color: #ffffff;
    /* เปลี่ยนสีตัวอักษร (ถ้าจำเป็น) */
    border-color: transparent;
    /* ปิดขอบ */
  }
</style>
<div>

  <section class="h-100 h-custom ">

    <!-- Overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50" style="background-color: #00000083">
    </div>
    <!-- ส่วนเนื้อหาภายใน div -->

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-2 bg-success">

            <form method="post" action="{% url 'resetpassword2' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success btn-lg mb-1 btn-hover-color" id="getUser">
                  Reset password
              </button>
            </form>

        {% if messages %}
        <div class="alert alert-danger mt-3">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
</section>

<!--Django sugoi-->