{% extends "base1.html" %}

{% block title %}
<link rel="stylesheet" href="static/login_register.css" />
<title>Change Password</title>
{% endblock %}

{% block content %}

<body class="bg-body-tertiary bg-dark">
  
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 d-flex flex-column p-3 text-white bg-dark collapse"
        style="width: 280px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">{{ user.username }}</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item mb-2">
            <a href="/account" class="nav-link text-light " style="background-color: rgb(77, 75, 75);"
              aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              My account
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/settingprofile" class="nav-link active text-light " aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Profile setting
            </a>
          </li>
        </ul>
      </div>
      <!-- Main Content -->
      <div class="col-md-7 mx-auto ">
        <div class="container h-100">
          <div class="row justify-content-start bg-dark">
            <div class="card bg-dark">
                <main class="card-body bg-dark text-light">
                    <form method="post" id="passwordChangeForm">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="current_password">Old password:</label>
                                <input 
                                  type="password" 
                                  name="current_password"
                                  maxlength="15" 
                                  class="form-control" 
                                  id="current_password" 
                                  required>
                                <span id="password_check_result"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="new_password">New password:</label>
                                <input 
                                  type="password"   
                                  name="new_password"
                                  maxlength="15" 
                                  class="form-control"
                                  required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="confirm_new_password">Confirm new password:</label>
                                <input 
                                  type="password"
                                  name="confirm_new_password"
                                  maxlength="15" 
                                  class="form-control"
                                  required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 text-danger">
                                <label id="passworderror3" style="display: none;">!!!Something wrong!!! <br> Please check you old password. <br> New password and confirm new password will be match.</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="submit" id="submit_button">Submit</button>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
            
            <script>
                document.getElementById("passwordChangeForm").addEventListener("submit", function (event) {
                    // Check if the passwords match
                    var newPassword = document.getElementsByName("new_password")[0].value;
                    var confirmNewPassword = document.getElementsByName("confirm_new_password")[0].value;
                    if (newPassword !== confirmNewPassword) {
                        // Show error labels and prevent form submission
                        document.getElementById("passworderror3").style.display = "block";
                        event.preventDefault();
                    }
                });
                
            </script>
        </div>
    </div>
</div>
{% endblock %}