
.moviename,.moviename2,.moviename3,.moviename4 {
    font-size: 25px;
    font-weight: bold;
}

.movietag,.moviestar{
    font-size: 14px;
    opacity: 0.7;
}
.movietag2,.moviedate,.movietime{
    font-size: 20px;
    opacity: 0.7;
}
.monthcolor {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.imgposter{
    min-height: 100%;
    
    min-width: 5vw;
    
    object-fit: cover;
}
.imgposter2{
    min-height: 100%;
    max-height: 100%;
    max-width: 10vw;
    min-width: 6vw;
    
    object-fit: cover;
}
.tags2{
    font-size: 16px;
    opacity: 0.7;
}

/* สำหรับหน้าจอขนาดใหญ่ขึ้นไป */
@media (min-width: 992px) {
    .mcard .col-lg-1,
    .mcard .col-lg-11 {
        flex: 0 0 auto;
        width: auto;
    }
}

/* สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 800px) {
    .mcard .col-10 {
        flex: 0 0 auto;
        width: auto;
    }
    .mcard .col-lg-11 {
        margin-left: 40px; 
    }
}
@media only screen and (max-width: 768px) {
    .moviename {
        font-size: 14px; 
    }
    .moviename3 {
        font-size: 11px;
    }
    .moviename2 {
        font-size: 8px;
    }
    .moviename4{
        font-size: 8px;
    }
    .movietag{
        font-size: 8px;
        opacity: 0.9;
    }
    .movietag2,.moviedate,.movietime{
        font-size: 14px;
        opacity: 0.9;
    }

    .moviestar{
        font-size: 6px;
    }
    .imgposter{
        min-height: 100%;
        min-width: 15vw;
        object-fit: cover;
    }
    .imgposter2{
        min-height: 100%;
        min-width: 23vw;
        object-fit: cover;
    }
    .monthcard {
        background-color: white;
    }
    .monthcolor {
        font-size: 18px;
        color: black;
    }
}