.moviename {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.movietag{
    font-size: 14px;
    color: rgb(99, 99, 99);
}
.moviestar{
    font-size: 14px;
    color: rgb(99, 99, 99);
}
.monthcolor {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.imgposter {
    min-height: 100%;
    min-width: 5vw;
    object-fit: cover;
}

/* สำหรับหน้าจอขนาดใหญ่ขึ้นไป */
@media (min-width: 992px) {
    .mcard .col-lg-1,
    .mcard .col-lg-11 {
        flex: 0 0 auto;
        width: auto;
    }
}

/* สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 991.98px) {
    .mcard .col-9 {
        flex: 0 0 auto;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .moviename {
        font-size: 14px; 
    }
    .movietag{
        font-size: 9px;
    }
    .moviestar{
        font-size: 6px;
    }
    .imgposter {
        min-height: 100%;
        min-width: 20vw;
        object-fit: cover;
    }
    .monthcard {
        background-color: white;
    }
    .monthcolor {
        font-size: 18px;
        color: black;
    }
}