{% extends "base1.html" %} {%block title %}
<title>calender</title>
{% endblock %} {%block content%}
    <h1>Movie Scraper Results</h1>
    <ul>
        {% for i in name_list %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in tag_list %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in actor_list %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in image_list %}
            <img src="{{ i }}" >
        {% endfor %}
    </ul>
{% endblock %}