{% extends "base1.html" %} {%block title %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<title>Home</title>
{% endblock %} {%block content%}
<style>
  .carousel-inner {
      background-color: #000000; 
      text-align: center; 
      height: 65vh; 
  }

  .carousel-item img {
    width: 100%; 
    height: 80vh; 
    object-fit: contain; 
    
}

.carousel-caption {
    position: absolute;
    background-color: #0000007a; 
    color: white; 
    padding: 15px 10px; 
    z-index: 1; 
    top: 68%; 
}
  .card-img-top{
    height: 453px;
    width: 302px;
    object-fit: cover;
    object-position: center;
  }
  .imgnewmovie{
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .card{
    width: 250px;
    height: auto;
    text-decoration: none;
  }
  .cardnewmovie{
    width: 250px;
    height: auto;
    min-height: 520px;
    text-decoration: none;
  }
  .newmoviecardbody{
    min-height: 151px;
  }
  @media screen and (max-width: 768px) {
    .cardnewmovie {
      width: 48vw;
      margin-left: 15px;
    }
    .newname{
      font-size: 16px;
    }
    .imgnewmovie{
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    }
  .card-body{
    text-decoration: none;
    border-radius: 2%px;
  }
  .img-wrapper{
    width: auto;
    text-decoration: none;
    color: black;
  }
  .img-wrapper:hover{
    color: rgb(65, 67, 181);
  }
  .positive{
    color: rgb(29, 191, 56);
  }
  /* NewMovie */
  ul li{
      cursor: pointer;
  }
  .menu {
    display: flex;
    list-style-type: none;
    margin-right: 0;
    padding-right: 0;
}

.menu li {
    margin-right: 0;
    padding-right: 0;
}



    .is-hidden{
      display:none !important;
    }
  .is-hidden .splide__arrows{
    visibility: hidden;
  }




</style>

<div style="background-color: #000000;">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="display: block;margin-left: auto; margin-right: auto;width: 100%;">
    <div class="carousel-inner">
    
        <div class="carousel-inner">
          {% for slide in slides %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="8000">
            <img src="{{ slide.image.url }}" alt="Banner Slide Image" class="d-block w-100" style=" background-color: #000000; ">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ slide.title }}</h5>
                <p>{{ slide.description }}</p> 
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    
  <!-- ตำแหน่งปุ่มก่อนหน้าและถัดไป -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

<!-- เพิ่มปุ่มสำหรับแต่ละรูป -->
  <div class="carousel-indicators">
    {% for slide in slides %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}">
    </button>
    {% endfor %}
  </div>
</div>


<div class="overlay" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 px-0">
           <h1 class="display-4 fst-italic text-center" style="color: white; text-shadow: 2px 2px 4px #000000; font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 48px;">10 New Movie in Theaters</h1>
      </div>
  </div>
</div>
<!-- NewMovie Area START -->
<div class="row justify-content-center align-items-center d-flex">
  <div class="col-md-9">
    <div class="splide red" id="a">
      <div class="splide__track">
          <ul class="splide__list ">
              {% for img , name , release in newMovie %}
              <li class="splide__slide">
                <div class="border cardnewmovie mb-4">
                  <a class="" href=""></a>
                  <a class="" href="">
                    <img class="card-img-top imgnewmovie" src="{{ img }}" alt="รูปภาพหลักของ {{ name }}">    
                  </a>
                  <div class="card-body newmoviecardbody">
                    <a class="img-wrapper" href="">
                      <h4 class="card-title newname">{{ name }}</h4>
                    </a>
                    <div  style="display: flex; justify-content: space-between;">
                      <span class="newdate">{{ release }}</span>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>



<!-- NewMovie Area End -->
<!--Bottom-->
<div class="bg-dark text-light text-center mt-1 mb-5">
  
  
  <!-- <div
    class="overlay"
    style="background-size: cover">
  </div> -->
  <hr style="width: 100%; margin: 0 auto;">
  <div class="overlay" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 px-0">
            <h1 class="display-4 fst-italic text-center" style="color: white; text-shadow: 2px 2px 4px #000000; font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 48px;">Movie Rate</h1>
        </div>
    </div>
  </div>
  <hr style="width: 100%; margin: 0 auto;">
  <div class="container">
  </div>

    <div class="album py-5 overlay" style="background-color: #000;">
      <div class="container">
        <div class="row">
          
          {% for movie in movies %}
          <div class="col-md-3" style="background-color: #000;">
            <a class="" href="{% url 'moviereview' movie.id %}">
              <div class="border mb-4">
                <a class="" href="{% url 'moviereview' movie.id %}">
                  {% if movie.main_image %}
                    {% if movie.main_image.image %} 
                    <img  class="card-img-top" src="{{ movie.main_image.image.url }}" alt="รูปภาพหลักของ {{ movie.name }}">
                    {% elif movie.main_image.image_url %}
                    <img class="card-img-top" src="{{ movie.main_image.image_url }}" alt="รูปภาพหลักของ {{ movie.name }}">    
                    {% endif %}
                  {% else %}
                  <img class="card-img-top" src="https://msdb.tv/no_poster.jpg" alt="รูปภาพหลักของ {{ movie.name }}">  
                  {% endif %}
                </a>
                <div class="card-body">
                  <a class="img-wrapper" href="{% url 'moviereview' movie.id %}">
                    <h4 class="card-title">{{ movie.name }}</h4>
                  </a>
                  <div style="display: flex; justify-content: space-between;">
                    <span class="me-2" style="display: flex; align-items: center; ">
                      <i class="fas fa-star px-1"></i>{{movie.avg_score}} / 10</span>
                    <span>{{ movie.release_date.year }}</span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div class="movie_info me-1 positive">Positive: {{movie.positive}}%</div>
                    <div class="movie_info me-1 text-danger">Negative: {{movie.negative}}%</div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  <script>
    $(document).ready(function() {
          $('#carouselExampleCaptions').carousel(); // Initialize the carousel
      });

      const carousel = document.querySelector('.carousel');
      const items = document.querySelectorAll('.carousel-item');
      let currentIndex = 0;

      function showItem(index) {
          if (index < 0) {
              index = items.length - 1;
          } else if (index >= items.length) {
              index = 0;
          }

          const itemWidth = items[0].offsetWidth;
          const offset = -index * itemWidth;

          carousel.style.transform = `translateX(${offset}px)`;
          currentIndex = index;
      }

      // รับอ้างอิงของปุ่ม "ก่อนหน้า" และ "ถัดไป"
      const prevButton = document.querySelector('.carousel-control-prev');
      const nextButton = document.querySelector('.carousel-control-next');

      // เพิ่มการกำหนดค่ากิจกรรมกดปุ่ม
      prevButton.addEventListener('click', () => {
          showItem(currentIndex - 1);
      });

      nextButton.addEventListener('click', () => {
          showItem(currentIndex + 1);
      });

      // เริ่มต้นโดยการแสดงรายการแรก
      showItem(currentIndex);
  </script>
  <script>
    $(document).ready(function() {
      $('#carouselExampleCaptions').carousel(); // Initialize the carousel
    });
  </script>
  <script>
    const menu = document.querySelectorAll('.menu li')


  </script>
  
  <script>
document.addEventListener('DOMContentLoaded', () => {
    let perPageValue = 4; 
    if (window.innerWidth <= 768) { 
        perPageValue = 2; 
    }

    const splide = new Splide('#a', {
        perPage: perPageValue,
        perMove: 1,
    }).mount();
});
  </script>

</div>
{%endblock%}
