{% extends "base1.html" %} {%block title %}
<link rel="stylesheet" href="static/login_register.css" />
<title>Register</title>
{% endblock %} {%block content%}
<section class="h-100 h-custom" style="background-color: #000000">
  <div class="bg-dark img-fluid position-relative" style="
      background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
      background-size: cover;
      background-position: center;
      height: 100%;
    ">
    <!-- Overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50" style="background-color: #00000083">
    </div>
    <!-- ส่วนเนื้อหาภายใน div -->
    
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-2 ">
            <div class=" card h-25">
              <img
                src="https://images.unsplash.com/photo-1574894078563-01e879b89809?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
                style="
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
              " />
            </div>
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">
                Registration Info
              </h3>

                <form class="px-md-2">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Username</label>
                    <input type="text" id="inuser" class="form-control" placeholder="Username" />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Password</label>
                    <input type="password" id="inpassword" class="form-control" placeholder="Password" />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Firstname</label>
                    <input type="text" id="infirstname" class="form-control" placeholder="Firstname" />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Lastname</label>
                    <input type="text" id="inlastname" class="form-control" placeholder="Lastname" />
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline datepicker">
                        <label for="exampleDatepicker1" class="form-label">Select a date of birth</label>
                        <div class="form-group">
                          <input id="startDate" class="form-control" type="date" />
                        </div>
                </form>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1q">Email</label>
            <input type="text" id="inemail" class="form-control" placeholder="YourEmail@gmail.com" />
          </div>
        </div>
        <div class="position-relative mt-4">
          <div class="position-absolute top-100 start-50 translate-middle">
            <button type="submit" class="btn btn-success btn-lg mb-1 " id="getUser">
              Register
            </button>
            
          </form>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    // JavaScript code to format date as "วัน เดือน ปี"
    document.getElementById("bdate").addEventListener("change", function () {
      var selectedDate = new Date(this.value);
      var day = selectedDate.getDate();
      var month = selectedDate.toLocaleDateString("th-TH", { month: "long" });
      var year = selectedDate.getFullYear() + 543; // แปลงปีเป็น พ.ศ.
      var formattedDate = day + " " + month + " " + year;
      this.value = formattedDate;
    });
  </script>
  {% endblock %}