{% extends "base1.html" %}

{% block title %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<title>Setting Profile</title>
{% endblock %}

{% block content %}
<main class="container bg-light bg-dark text-light" style="width: auto;">
<style>
#myChart {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}

</style>
  <div class="row pb-4 pt-4">
    <h1>Graphs</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row ms-4">
    <div class="col ps-2">
      <select id="dataType">
        <option value="usersLoggedIn">Number of Users Logged In</option>
        <option value="commentsPerMovie">Comments per Movie</option>
      </select>
    </div>
    <div class="col ps-2">
      <!-- Movie Selection Dropdown (hidden initially) -->
      <select id="movieSelection" style="display:none;">
        <!-- Options will be dynamically populated based on the movie data -->
      </select>
    </div>
    <div class="col ps-2">
      <select class="ps-4" id="graphType">
        <option value="bar">Bar</option>
        <option value="line">Line</option>
        <option value="pie">Pie</option>
      </select>
    </div>
    <div class="col">
      <!-- <label for="colorPicker">Choose a color for the graph:</label> -->
      <input type="color" id="colorPicker" name="color" value="#ff0000">
      <button onclick="updateGraphColor()">Update Graph Color</button>
    </div>
  </div>
<canvas id="myChart"></canvas>

</main>
{% endblock %}