{% extends "base1.html" %}

{% block title %}
<title>Setting Profile</title>
{% endblock %}

{% block content %}
<main class="container bg-light bg-dark" style="width: auto;">
  <div class="row mt-4">
      <div class="col-8">
          {% csrf_token %}
          <input class="form-control mr-sm-2 bg-light buttonscp" id="Searchdata" type="search" placeholder="Search" aria-label="Search" >
      </div>
      <div class="col-2">
          <button class="btn btn-outline-success buttonscp" id="Movie"  type="submit">Movie Scrap</button>
      </div>
      <div class="col-2">
          <button class="btn btn-outline-success buttonscp" id="Actor" type="submit">Actor Scrap</button>
      </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const butactor = document.getElementById("Actor");
    const butmovie = document.getElementById("Movie");
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    butmovie.addEventListener("click", async function () {
      var search = document.getElementById("Searchdata").value;
      const data = {
        search: search,
        type: "movie",
      };

      try {
        console.log(search);
        const response = await fetch('/test/', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            'X-CSRFToken': csrfToken,
          },
          body: JSON.stringify(data),
        });
        const result = await response.json();
        console.log("Success:", result);
      } catch (error) {
        console.error("Error:", error);
      }
    });

    butactor.addEventListener("click", async function () {
      var search = document.getElementById("Searchdata").value;
      const data = {
        search: search,
        type: "actor",
      };

      try {
        console.log(search);
        const response = await fetch('/test/', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            'X-CSRFToken': csrfToken,
          },
          body: JSON.stringify(data),
        });
        const result = await response.json();
        console.log("Success:", result);
      } catch (error) {
        console.error("Error:", error);
      }
    });
  });
</script>

</main>
{% endblock %}