 /* .fontMenu {
    font-size: 160px;
 }
  a {
    text-align: left;
  }

  body, html {
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.top {
    text-align: right;
    margin-right: 0;
    width: 100vh;
    height: 10vh;
}
.bottom {
    flex: 1;
    display: flex;
}
.left {  
    width: 50%;
    margin-left: 0;
}
.main {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #eee; 
    background-color: beige; 
    padding-left: 5%;
} */
/* image admin */
 .user-avatar {
    border-radius: 50% !important;
    min-height: 40px !important;
    min-width: 40px !important;
    object-fit: cover !important; 
}
.tab-content input, textarea {
    background-color: #343a40 !important;
    color: white !important;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    margin: auto !important;
}

brand-link navbar-success:hover{
    background-color: #00bc8c !important;
}

#id_tags {
    display: block;
    width: 100%;
    padding: 10px;
}

#changelist-search .form-group {
    margin: 10px !important;
}

.alert-success a{
color: #ffffff !important;
}