/* image admin */
body .img-circle {
    border-radius: 50% !important;
    object-fit: cover !important;
}
/* Groups */
#id_permissions_to, #id_permissions_from,  #id_groups_from, #id_groups_to, #id_user_permissions_from, #id_user_permissions_to {
    background-color: #6c757d !important;
    color: white; /* เปลี่ยนสีข้อความเป็นสีขาวเพื่อให้เห็นข้อความบนพื้นหลังสีดำ */
}
/* .tab-content input, textarea {
    background-color: #343a40 !important;
    color: white !important;
    border: none !important;
} */

.select2-container--default .select2-selection--single .select2-selection__rendered{
    margin: auto !important;
}

/* brand-link navbar-success:hover{
    background-color: #ffffff !important;
} */

#id_tags {
    display: block;
    width: 100%;
    padding: 10px;
}

#changelist-search .form-group {
    margin: 10px !important;
}

.alert-success a{
color: #ffffff !important;
}

#id_title {
    background-color: white;
}