:root {
  /* Light theme colors */
  --background-color: #fff;
  --text-color: #333;
  --primary-color: hsl(211, 100%, 50%);
  --secondary-color: #323232;
  --card-background-color: rgb(245, 245, 245);
  /* ... other light theme colors ... */
  --background-color-light: #fff; /* White background */
  --text-color-light: #000; /* Black text */
  --card-background-color-light: #fff; /* Light gray for cards */
  --svg-stroke-color-light: #000000; /* White for light theme */
  --svg-fill-color-light: #000000; /* Red for light theme */
  border: #000;
}

.dark-theme {
  /* Dark theme colors  #212529*/
  --background-color: #f8dada;
  --text-color: #fff;
  --primary-color: #0d6efd;
  --secondary-color: #fff;
  --card-background-color: #323232;
  /* ... other dark theme colors ... */
  --background-color-dark: #000; /* Dark gray background */
  --text-color-dark: #fff; /* White text */
  --card-background-color-dark: #1c1e21; /* Darker gray for cards */
  --svg-stroke-color-dark: #ffffff; /* Black for dark theme */
  --svg-fill-color-dark: #ffffff; /* White for dark theme */
  border: #fff;
}
/* transition: background-color 0.3s, color 0.3s; Smooth transition for theme change */
body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark-theme body {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
.card {
  color: rgb(228, 230, 235);
}
.dark-theme .card{
  color: rgb(228, 230, 235);
}
.bg-image, .card-body , .col-md-3 {
  background-color: var(--card-background-color-light);
  color: rgb(0, 0, 0);
  transition: background-color 0.3s; /* Smooth transition for theme change */
}

.dark-theme .bg-image, .dark-theme .card-body, .col-md-3 {
  background-color: var(--card-background-color-dark);
  color: rgb(255, 255, 255);
}
.carousel-item, .album{
  background-color: var(--secondary-color);
}
/* ส่วน หนังที่ show ในหน้า home */
/* ------------------------------------------------------------------------- */
.div {
  background-color: var(--background-color); 
}

.col-md-3 .card-title,
.col-md-3 .card-body span{
  color: rgb(0, 0, 0);
}
.dark-theme .card-title,
.dark-theme  .card-body span{
  color: rgb(228, 230, 235);
}
.col-md-3 {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

.dark-theme .col-md-3 {
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
}
/* ------------------------------------------------------------------------- */

/* ส่วนร้านขายของ */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */

/* ส่วนของ actor */
/* ------------------------------------------------------------------------- */
svg path {
  stroke: #FFD700;
  fill: #FFD700;
}
.dark-theme svg path {
  stroke: #FFD700;
  fill: #FFD700;
}
  /* ------------------------------------------------------------------------- */