/* ปรับแต่ง Navbar เพื่อไม่ให้ผิดรูป */
/* ปรับแต่งรายการแนะนำที่ปรากฏขึ้น */
.awesomplete > ul {
  border: 1px solid #555; /* สีขอบให้เข้ากับธีมสีดำ */
  background-color: #333; /* สีพื้นหลังของรายการให้เข้มขึ้น */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5); /* เพิ่มเงาให้มีมิติและเข้มขึ้น */
  color: white; /* สีข้อความให้สว่างขึ้นเพื่อ contrast กับพื้นหลัง */
  list-style-type: none; /* ลบจุดของรายการ */
  margin: 0; /* อาจต้องปรับขนาดขอบเขตให้เหมาะสม */
  padding: 0; /* ลบระยะห่างภายในเพื่อลดการกระจาย */
  position: absolute; /* ทำให้รายการแนะนำไม่เกี่ยวข้องกับเลย์เอาต์ปกติ */
  z-index: 99; /* ให้รายการแนะนำอยู่ด้านบนสุด */
  max-height: 300px; /* จำกัดความสูงของรายการแนะนำ */
  overflow-y: auto; /* ให้มีการเลื่อนแนะนำเมื่อมีรายการเยอะ */
  width: 250px; /* ปรับขนาดของรายการให้เต็มขอบ */
}

/* ปรับแต่งแต่ละรายการที่อยู่ภายในรายการแนะนำ */
.awesomplete > ul > li {
  color: white; /* สีข้อความสว่างขึ้นเพื่อการอ่านที่ชัดเจน */
  padding: 10px; /* ระยะห่างของข้อความภายในรายการ */
  border-bottom: 1px solid #444; /* สีขอบระหว่างรายการให้เข้ากับธีม */
}

/* สไตล์ของรายการที่ถูกเลือกหรือที่เมาส์วางอยู่ */
.awesomplete > ul > li[aria-selected="true"], .awesomplete > ul > li:hover {
  background-color: #555; /* สีพื้นหลังเมื่อเลือกหรือเมาส์วางอยู่ให้เข้ากับธีม */
  color: #ddd; /* สีข้อความเมื่อเลือกหรือเมาส์วางอยู่ให้ชัดเจนกว่า */
}
